<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>simple url shortener</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    
  <div class="container">
    <h1>Simple URL  shortener!</h1>
   <div class="sub-container">
    <form action="shortern_url" method="post">
        <input type="url" name="url" id="url" required>
        <input type="submit" value="shortern">
    </form>
   </div>
  </div>
</body>
</html>