<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>simple url shortener</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    
    <div class="container">
       <div class="sub-container">
         <p>original_url : <%= urlObj.original_url%></p>
        <a href="<%= urlObj.shorturl%>" target="_blank">Visit new Url : <%= urlObj.shorturl%></a>
       </div>

       <div class="sub-container">
           
          <a href="mailto:shimwamanahenritresor@gmail.com">Report a problem</a>
          <a href="mailto:shimwamanahenritresor@gmail.com">give feedback</a>
       </div>
    </div>
</body>
</html>